@charset "UTF-8";
.bar_area {
    padding: 10px 66px;
    height: 54px;
    background-color: #FFF;
    box-shadow: 1px 1px 4px #BABBC2;
    position: relative;
    z-index: 1;
}
.bar_menu{
    display: inline-block;
    font-size: 16px;
    color: #9fa0aa;
    line-height: 32px;
}
.tab-area{
	background-color: #f0f0f2;
    border-bottom: 1px solid #BABBC2;
    padding-bottom: 0;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 20px;
}
.tab-session{
	padding-left: 30px;
	max-width: 100%;
	background-color: #f0f0f2;
}	
.tabBtn{
	display: inline-block;
    padding: 0 10px;
    min-height: 40px;
    color: #6e7794;
    background-color: #FFF;
    border: 1px solid #BABBC2;
    border-radius: 5px 5px 0 0;
    min-width: 95px;
    font-size: 13px;
    overflow: hidden;
    margin-right: -5px;
    margin-bottom: -1px;
}
/* BODY */
.section{
    margin: 0 auto;
    padding: 30px 66px;
    max-width: 100%;
}
.center-calculation-year{
	display: block;
    font-size: 18px;
    color: #6E6E6E;
    font-weight: 500;
    text-align: center;
    padding-left: 10%;
}
.center-calculation-month-pre{
	align-self: center;
    display: inline-block;
    height: 21px;
    width: 15px;
}
.center-calculation-month-next{
	align-self: center;
    display: inline-block;
    height: 21px;
    width: 15px;
}
.center-calculation-month{
	padding: 0 10px;
    font-size: 40px;
    vertical-align: middle;
    margin-left: 20px;
}
.table-body{
	text-align: right;
}
.blue{
	color: #2196F3 !important;
}
.red{
	color: #FF5722 !important;
}
.gptable-body{
	text-align: center;
}

























