@charset "UTF-8";
.bar_area {
    padding: 10px 66px;
    height: 54px;
    background-color: #FFF;
    box-shadow: 1px 1px 4px #BABBC2;
    position: relative;
    z-index: 1;
}
.bar_menu{
    display: inline-block;
    font-size: 16px;
    color: #9fa0aa;
    line-height: 32px;
}
.section{
    margin: 0 auto;
    padding: 30px 66px;
    max-width: 100%;
}
.product-detail-first{	
	max-width: 80%;
	margin: 0 auto;
    border: 1px solid #BABBC2;
    border-radius: 5px;
    margin-bottom: 25px;
}		
.product-detail-first-top{
    padding: 20px;
    font-size: 16px;
    color: #42485A;
    border-bottom: 1px solid #BABBC2;
    position: relative;
    font-weight: 500;
}
.product-detail-first-bottom{
    padding: 30px 20px;
}
.detail-label{
	display: inline-block;
	color: #42485A;
	width: 150px !important;
	font-size: 13px;
}
.detail-label2{
	display: inline-block;
	color: #42485A;
	width: 70px !important;
	font-size: 13px;
	margin-left:40px;
}
.product-detail-text{
	text-align: center;
	height: 34px;
	font-size: 13px;
	border: 1px solid #BABBC2;
	border-radius: 5px;
}
.product-detail-num{
	text-align: center;
	height: 34px;
	font-size: 13px;
	border: 1px solid #BABBC2;
	border-radius: 5px;
}
.product-detail-combobox{
    padding: 0 20px 0 10px;
    height: 34px;
    font-size: 13px;
    color: #000000!important;
    border: 1px solid #BABBC2;
    border-radius: 5px;
    -webkit-appearance: none;
    background: url(../images/triangle.png) no-repeat right 5px top 50% #FFF !important;
}
/* .product-detail-radiobutton{
    margin: auto 0;
    width: 20px;
    height: 20px;
    background: url(../img/form/radio.png) no-repeat left top;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
} */
.product-detail-second-row{
	margin-bottom:30px;
}
.product-detail-buttonarea{
	margin: 20px 0 0;
    padding: 20px 0;
    border-top: 1px solid #BABBC2;
	font-size: 0;
    text-align: center;
}
.reservation-bottom-btn{
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    min-width: 95px;
    height: 34px;
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    line-height: 32px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    margin-left: 10px;
}
