@charset "UTF-8";
.bar_area {
    padding: 10px 66px;
    height: 54px;
    background-color: #FFF;
    box-shadow: 1px 1px 4px #BABBC2;
    position: relative;
    z-index: 1;
}
.bar_menu{
    display: inline-block;
    font-size: 16px;
    color: #9fa0aa;
    line-height: 32px;
}
.schedule-combobox{
    padding: 0 20px 0 10px;
    height: 34px;
    font-size: 13px;
    color: #000000!important;
    border: 1px solid #BABBC2;
    border-radius: 5px;
    -webkit-appearance: none;
    background: url(../images/triangle.png) no-repeat right 5px top 50% #FFF !important;
}
.calendar-header{
	width:100%;    
	height: auto; 
/* 	position: absolute;
    z-index: 3;
    color: #2F3A48;*/
    background-color:transparent;
    padding: 15px 30px; 
    text-align: -webkit-right;
}
.weeklycalendar{
	width: 100%;
	align:center;
	border:1px solid #BABBC2;
}
.scheduletd{
	align:center;
	border:1px solid #BABBC2;
}