@charset "UTF-8";
.bar_area {
    padding: 10px 66px;
    height: 54px;
    background-color: #FFF;
    box-shadow: 1px 1px 4px #BABBC2;
    position: relative;
    z-index: 1;
}
.bar_menu{
    display: inline-block;
    font-size: 16px; 
    color: #9fa0aa;
    line-height: 32px;
}
.section{
    margin: 0 auto;
    padding: 30px 66px;
    max-width: 100%;
}
.spending-box{	
    max-width: 100%;
    border: 1px solid #BABBC2;
    border-radius: 5px;
    padding: 25px;
}	
.spending-box-left{
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0 10px;
}
.spend-combobox{
    padding: 0 20px 0 10px;
    height: 34px;
    font-size: 13px;
    color: #000000!important;
    border: 1px solid #BABBC2;
    border-radius: 5px;
    -webkit-appearance: none;
    background: url(../images/triangle.png) no-repeat right 5px top 50% #FFF !important;
}
.spend-box-left-column{
    font-size: 13px;
    font-weight: normal;
    color: #42485A;
    text-align: left;
    line-height: 34px;
    width: 100px;
}
.spending-text{
	text-align: center;
	height: 34px;
	font-size: 13px;
	border: 1px solid #BABBC2;
	border-radius: 5px;
}
.spend-table{
	width: 100%;
	border: 1px solid #9fa0aa;
	margin-top: 3%;
}
.spend-table-column{
	text-align: center;
    vertical-align: middle;
    width: 40%;
    background: #f0f0f2;
	border: 1px solid #9fa0aa;
}
.spend-table-content{
	text-align: right;
    vertical-align: middle;
    width: 60%;
	border: 1px solid #9fa0aa;
    padding: 10px 45px 10px 0px;
}
#datebox{
	height: 34px;
    font-size: 13px;
    border: 1px solid #BABBC2;
    border-radius: 5px;
    width: 132px !important;
}
.spend-box-right-column{
    font-size: 13px;
    font-weight: normal;
    color: #42485A;
    text-align: left;
    line-height: 34px;
    width: 130px;
}
.spend-button{
	margin-left: inherit;
    padding: 10px;
    width: calc( 97% / 3 - 8px );
    font-size: 18px;
    border: 1px solid #CCC;
    background: #ededed;
    text-align: center;
    cursor: pointer;
    margin: 6px;
}
.spending-payment-method{
    width: calc( 97% / 5 );
    height: 60px;
    font-size: 15px;
    border: 3px solid #FFF;
    border-radius: 5px;
}
.card{
	background-color: #37B772;
	color:#ffffff;
}
.cash{
	background-color: #37B772;
	color:#ffffff;
}
.spending-box-payment-title{
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0 10px;
}
.btn_cancle{
	color: #fff;
    background-color: #647ac1;
    border-color: #647ac1;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    min-width: 95px;
    height: 34px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    line-height: 32px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.spending-payment-bottom{
	border-top:1px solid #BABBC2;
	margin-top:30px;
	padding-top:20px;
	text-align: center;
}
.cancle{
	background-color: #9fa0aa;
}
.add{
	background-color: #42485A;
}
