@charset "UTF-8";

/* 홈바  시작 */
.bar_area {
	padding: 10px 66px;
	height: 54px;
	background-color: #fff;
	box-shadow: 1px 1px 4px #BABBC2;
	position: relative;
	z-index: 1;
	
}

.homefl a{
	float: left;
	display: inline-block;
	font-size: 16px;
	color: #9fa0aa;
	line-height: 32px;
}





#management:last-child{
	font-weight: 500;
	color: #42485A;
	cursor: default;
	text-decoration: none;
	

}

.bar_area .homefl #home+#management{
	padding-left: 37px;
	background: url(../images/location_arrow.png) no-repeat left 50%;
	
}

.bar_area .homefl a+a {
    padding-left: 32px;
    background: url(../images/location_arrow.png) no-repeat left 50%;
}

.bar_area .homefl a:last-child {
    font-weight: 500;
    color: #42485A;
    cursor: default;
    text-decoration: none;
}
/* 홈바 끝 */

/* select부분 시작  */
#BHLsection {
    margin: 0 auto;
    padding: 30px 66px;
    max-width: 100%;
}

#BHLsection .search_bar {
    margin: -30px -66px 0;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #BABBC2;
}

#BHLsection .search_bar fieldset {
    padding: 0 66px;
    text-align: left;
}

#BHLsection legend {
    display: none;
} 

#BHLsection .search_bar fieldset select {
    margin: 0;
    padding-top: 0;
    padding-right: 31px;
    min-width: 120px;
    max-width: 120px;
    height: 26px;
    line-height: 24px;
    /* background: url(../img/select_arrow.png) no-repeat right 50% !important; */
}

#BHLsection .search_bar fieldset select+* {
    margin-left: 5px;
}

/* 검색부분  */
#BHLsection .search_bar fieldset .search_box {
    float: right;
}


#BHLsection .search_bar fieldset .search_box input[type="text"] {
     width: 250px; 
     height: 26px; 
  	 border-right: 0;
     padding-top: 13px;
     border-radius: 5px 0 0 5px;
}

#BHLsection .search_bar fieldset .search_box .search {
    width: 26px;
    height: 26px;
    background: url(../images/sear.png) no-repeat center 50% #22B2FB;
    background-size: 14px;
    border-radius: 0 5px 5px 0;
    text-indent: -99999px;
    border: 0;
}

#BHLsection .search_bar+* {
    margin-top: 20px;
}

#BHLsection fieldset:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
/* select부분 끝  */
/*  카드 부분 시작 */
#BHLgrid {
    clear: both;
}

#BHLgrid ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: -20px;
    list-style: none; 
}

#BHLgrid ul li {
    flex: 0 1 auto;
    margin: 0 0 20px 10px;
    padding: 20px 10px;
    width: calc((100% - 50px) / 4);
    color: #42485A;
    background-color: #FFF;
    border: 1px solid #BABBC2;
    border-radius: 5px;
    position: relative;
    overflow: hidden; 
}

#BHLgrid ul li:before {
    content: "";
    width: 0;
    height: 100%;
    float: left;
    overflow: hidden;
}

#BHLgrid ul li .service_itm {
    display: block;
}
#BHLgrid ul li>* {
	display: inline-block;
    vertical-align: middle;
    position: static;
    z-index: 1;
}

#BHLgrid ul li .service_itm > p span {
    display: block;
    color: #F39800;
}

#BHLgrid ul li .service_itm > p i {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
 /*    overflow: hidden; */
    font-style: normal;
}

#BHLgrid ul li .service_itm > p strong {
    display: inline-block;
    margin-top: 10px;
}

#BHLgrid ul li .card_point_txt {
    margin: 0;
    position: absolute;
    top: 0;
    right: 10px;
}

#BHLgrid ul li .card_point_txt .receive {
    background-color: #F37054;
}

#BHLgrid ul li .card_point_txt p {
    float: left;
    display: inline-block;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

#BHLgrid ul li .card_point_txt .use_service {
    background-color: #22B2FB;
}
#BHLgrid ul li .card_point_txt p + p {
    margin-left: 5px;
}
/* #BHLgrid  ul li:hover .service_detail{
	border-top: 0;


} */
#BHLgrid  ul li .service_detail {
    margin: 0 -1px;
    width: calc(100% + 2px);
    position: absolute;
    left: 0;
    top: 100px;
    background-color: white;
    box-shadow: 0px 6px 6px #bababa99;
}

#BHLgrid ul li .service_detail .use_service {
    display: block;
    padding: 0 10px 20px;
    position: relative;
}

#BHLgrid ul li .service_detail .use_service>p {
    padding-left: 10px;
    margin-top: 44px;
    color: #6e7794;
    clear: both;
    position: relative;
    overflow: hidden;
}

#BHLgrid ul li .service_detail .use_service>p span, 
#BHLgrid ul li .service_detail .use_service>p i {
    display: block;
    line-height: 1.5;
}

#BHLgrid ul li .service_detail .use_service .day_data {
    line-height: 1.5;
    display: inline-block;
}

#BHLgrid  ul li .service_detail .use_service .day_data span {
    display: inline-block;
    color: #9fa0aa;
    line-height: 1.5;
}

#BHLgrid ul li .service_detail .use_service .day_data span + span {
    margin-left: 10px;
}

.c_red {
    color: #FF5722 !important;
}


#BHLgrid ul li .card_point_txt .ready {
    background-color: #37B772;
}


.c_green {
    color: #43a047 !important;
}

#BHLgrid ul li .service_detail .use_service > p .use_tool {
    display: block;
}

#BHLgrid ul li:hover{
	overflow: visible;
}

#BHLgrid ul li .service_detail .use_service > p .use_tool a {
    display: block;
    padding: 4px 6px;
    background: #22B2FB;
    color: #FFF;
    border-radius: 5px;
}

#BHLgrid ul li .service_detail .use_itm {
  	display:block;
    padding: 0 10px 20px;
}

#BHLgrid ul li .service_detail .use_itm>p {
    color: #6e7794;
    clear: both;
    overflow: hidden;
    height: 17px;
}

#BHLgrid ul li .service_detail .btn_add {
    position: relative;
    padding: 0 10px 10px 10px!important;
}

#BHLgrid ul li .service_detail .service_price {
    display: block;
    margin-top: 5px;
    border-top: 1px dashed #BABBC2;
}


#BHLgrid ul li .service_detail .service_price p:first-child {
    line-height: 32px;
    float: left;
}

#BHLgrid ul li .service_detail .btn_add p:last-child .memo.pos_add {
    top: 10px !important;
    bottom: inherit !important;
    float: left;
}

.btn_line_add {
    width: 230px;
    display: inline-block;
    text-align: right;
    float: right;
}

#BHLgrid ul li .service_detail .service_price p:last-child .btn {
    min-width: 20px;
    padding: 0 9px;
    color: #fff;
}
.btn.red {
    background-color: #FF5722;
}

#BHLgrid ul li .service_detail .service_price p:last-child .memo .tooltip_box {
    display: block;
    margin-top: 15px;
    padding: 10px;
    width: 180px;
    font-size: 12px;
    color: #FFF;
    background: rgba(66,72,90,0.9);
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    left: 0px;
    z-index: 5;
}

#BHLgrid ul li .service_detail .use_itm>p span {
    float: left;
}

#BHLgrid ul li .service_detail .use_itm>p i {
    float: right;
}

#BHLgrid ul li .service_detail .use_itm>p+p {
    margin-top: 10px;
}

#BHLgrid ul li .service_detail .service_price p:last-child {
    display: block;
    float: right;
}

#BHLgrid ul li .service_detail .service_price p:last-child .memo {
    padding: 8px 10px;
    line-height: 1.5em;
    background-color: #f0f0f2;
    border-radius: 5px;
    cursor: default;
    position: absolute;
    left: 10px;
    }
    
#BHLgrid ul li .service_detail .service_price p:last-child .memo .tooltip_box {
    display: block;
    margin-top: 15px;
    padding: 10px;
    width: 180px;
    color: #FFF;
    background: rgba(66,72,90,0.9);
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    left: 0px;
    z-index: 5;
}   

#BHLgrid ul li .service_detail .service_price p:last-child .memo .tooltip_box .txt_box {
    max-height: 85px;
    word-break: keep-all;
    line-height: 1.4;
    overflow: hidden;
    overflow-y: auto;
}   

.btn_line_add>a {
    margin-top: 10px !important;
}


#BHLgrid ul li .service_detail .service_price:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
