SalesStatistics@charset "UTF-8";
body{
	padding:0%;
}
.container-fluid {
/*     padding-right: 0px;
    padding-left: 0px; */
    padding : 0;
}
.nav{
	height: 60px;
    font-size: 18px;
	background-color:#42485A;
	color: white;
}
.side{
	padding-left:0%;
}
#sidebar{
    margin-top: 10px;
	background-color: #42485A;
    font-size: 18px;
    color: white;
    padding: 0%;
    height: 100%;
/*     width: 100%;
    position: fixed;
    z-index: 1; */
    width: 180px;
    position: fixed;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
#gym_name{
	height: 80px;
}
#login_name{
	height: 50px;
}
.sidelabelbottom{
	height: 30px;
    margin-bottom: 15%;
}

.sidemenu{
	height:50px;
	cursor: pointer;
}
.sidemenutitle {
    height: 50px;
    color: white;
    padding: 6% 15%;
    border-top: 1px solid;
    text-align: left;
    cursor: pointer;
}
.titleservice{
	border-bottom: 1px solid;
}
.nav .bar{
	height:100%;
	padding: 1%;
    text-align: center;
}
#mainboard{
    margin-left: 180px;
    padding: 0%;
}
.bar_area {
    padding: 10px 66px;
    height: 54px;
    background-color: #FFF;
    box-shadow: 1px 1px 4px #BABBC2;
    position: relative;
    z-index: 1;
}
.bar_menu{
    display: inline-block;
    font-size: 16px;
    color: #9fa0aa;
    line-height: 32px;
}


